@import url('https://fonts.googleapis.com/css2?family=Anton&family=Noto+Sans+Osmanya&family=Noto+Sans+Telugu:wght@700&family=Ubuntu&display=swap');

.food-munch-logo {
    width: 100px;
    height: auto;
}

#navItem1 {
    color: #323f4b;
    font-family: "Roboto";
}

#navItem2 {
    color: #323f4b;
    font-family: "Roboto";
}

#navItem3 {
    color: #323f4b;
    font-family: "Roboto";
}

#navItem4 {
    color: #323f4b;
    font-family: "Roboto";
}
.home{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 70vh;
    
}

.text-center{
    margin-top: 40px;
}
.banner-heading {
    color: rgb(6, 6, 6);
    font-family: 'Noto Sans Telugu', sans-serif;
    font-size: 45px;
    font-weight: 300;
}

.banner-caption {
    color: #0364f6;
    font-family: 'Noto Sans Telugu', sans-serif;
    font-size: 24px;
    font-weight: 300;
}

.custom-button {
    color: rgb(248, 3, 3);
    background-image: linear-gradient(#f5d520, #f5d62b);
    font-family: 'Noto Sans Telugu', sans-serif;
    width: 130px;
    height: 45px;
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;
}

.custom-outline-button {
    color: #0e0c01;
    font-family: 'Noto Sans Telugu', sans-serif;
    background-color: transparent;
    width: 130px;
    height: 45px;
    border-style: solid;
    border-width: 1px;
    border-color: #8400d0;
    border-radius: 8px;
}



.explore-menu-section {
    background-color: white;
}

.menu-section-heading {
    color: #183b56;
    font-family: 'Noto Sans Telugu', sans-serif;
    
    font-size: 28px;
    font-weight: 700;
}

.menu-item-image {
    border-radius: 16px;
}

.menu-card-title {
    color: #323f4b;
    font-family: 'Noto Sans Telugu', sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-top: 24px;
}

.menu-item-link {
    color: #d0b200;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
}

.menu-item-card {
    border-radius: 16px;
}



   font-size: 16px;
}

.delivery-and-payment-section {
    background-color: white;
}

.delivery-and-payment-section-img {
    width: 270px;
}

.delivery-and-payment-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.delivery-and-payment-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
}

.payment-card-img {
    width: 50px;
    height: 50px;
    margin-right: 28px;
}

.thanking-customers-section {
    background-image: radial-gradient(#fff8db, #fae38c);
}

.thanking-customers-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.thanking-customers-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
}

.thanking-customers-section-img {
    width: 270px;
    margin-bottom: 20px;
}

.thanking-customers-section-modal-title {
    color: #d0b200;
    font-weight: 800;
}

.follow-us-section {
    background-color: white;
}

.follow-us-section-heading {
    text-align: center;
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.follow-us-icon-container {
    background-color: #faf7e8;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin: 15px;
    padding-top: 22px;
    padding-bottom: 14px;
    padding-right: 16px;
    padding-left: 22px;
}

.icon {
    color: #d0b200;
    height: 35px;
    width: 35px;
}

.footer-section {
    background-color: #0d2436;
}

.footer-section-mail-id {
    color: #959ead;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
}

.footer-section-address {
    color: #959ead;
    font-family: "Roboto";
    font-size: 14px;
}

.nihar-logo {
    width: 80px;
    height: 80px;
}

.parag{
    text-align: center;
    font-family: 'Noto Sans Telugu', sans-serif;
 }
 
   
@media (max-width: 600px){
    .banner-section-bg-container{
        padding-top: 200px;
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
    .home{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        height: 110vh;
        
    }
    .parag{
        margin: 10px;
    }
    .video-img{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        padding: 30px;
    }
    
    
}
