@import url('https://fonts.googleapis.com/css2?family=Anton&family=Noto+Sans+Osmanya&family=Noto+Sans+Telugu:wght@700&family=Ubuntu&display=swap');

.food-munch-logo {
    width: 100px;
    height: auto;
}

.banner-heading {
    color: rgb(6, 6, 6);
    font-family: 'Noto Sans Telugu', sans-serif;
    font-size: 45px;
    font-weight: 300;
}

.banner-caption {
    color: #0364f6;
    font-family: 'Noto Sans Telugu', sans-serif;
    font-size: 24px;
    font-weight: 300;
}
.custom-button {
    color: rgb(248, 3, 3);
    background-image: linear-gradient(#f5d520, #f5d62b);
    font-family: 'Noto Sans Telugu', sans-serif;
    width: 130px;
    height: 45px;
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;
}


@media (max-width: 600px){
    .banner-section-bg-container{
        padding-top: 200px;
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
    .video-img{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        padding: 30px;
    }
}
